@model WebApplicationRexMessageBoard.Models.MessageModels

@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Details";
    List<WebApplicationRexMessageBoard.Models.MessageModels> models = ViewBag.messageList;
    WebApplicationRexMessageBoard.Models.MessageBoardModel detailModel = ViewBag.MessageBoardModel;
}

@Styles.Render("~/Content/message-board")

<div class="col-sm-12 rex-body">
    <div class="bs-calltoaction bs-calltoaction-primary">
        <div class="col">
            <div class="row cta-contents">
                <h1 class="cta-title">
                    @Html.DisplayFor(model => detailModel.Title)
                </h1>
            </div>
            <div class="row cta-desc">
                <p class="col-md-12 lead">@Html.DisplayFor(model => detailModel.Content)</p>
            </div>
            <div class="row">
                @if (Request.IsAuthenticated && detailModel.User.Id == User.Identity.GetUserId())
                {
                    <div class="col-md-2 cta-button">
                        <a href="../Edit/@detailModel.ID" class="btn btn-lg btn-block btn-primary">編輯</a>
                    </div>
                    <div class="col-md-2 cta-button">
                        <a href="../Delete/@detailModel.ID" class="btn btn-lg btn-block btn-primary">刪除</a>
                    </div>
                }


                <div class="col-md-4 pull-right">
                    <span class="col pull-right rex-message-createtime">@Html.DisplayFor(model => detailModel.CreateTime)</span>
                    <span class="col pull-right rex-message-username">@Html.DisplayFor(model => detailModel.User.UserName)</span>
                </div>
            </div>
        </div>
    </div>

    <hr />

    @foreach (var item in models)
    {
        <div class="bs-calltoaction bs-calltoaction-info">
            <div class="col">
                <div class="row cta-desc">
                    <p class="col-md-12 lead">@Html.DisplayFor(modelItem => item.Content)</p>
                </div>
                <div class="row">
                    @if (Request.IsAuthenticated && item.User.Id == User.Identity.GetUserId())
                    {
                        <div class="col-md-2 cta-button">
                            <a href="../MessageEdit/@item.ID" class="btn btn-lg btn-block btn-info">編輯</a>
                        </div>
                        <div class="col-md-2 cta-button">
                            <a href="../MessageDelete/@item.ID" class="btn btn-lg btn-block btn-info">刪除</a>
                        </div>
                    }


                    <div class="col-md-4 pull-right">
                        <span class="col pull-right rex-message-createtime">@Html.DisplayFor(modelItem => item.CreateTime)</span>
                        <span class="col pull-right rex-message-username">@Html.DisplayFor(modelItem => item.User.UserName)</span>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    @using (Html.BeginForm("CreateMessage", "MessageBoard", new { id = detailModel.ID }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control rex-create-textarea" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</footer>